.editor {
  width: 100vw;
  height: 100vh;
}

.heading-tab {
  background-color: #242424;
  padding: 1px 4px;
  font-size: 12px;
}

.dev-window {
  width: 100%;
  height: 70%;
  max-height: 90%;
  display: flex;
}

#hierarchy-panel {
  width: 25%;
  height: 100%;
}

#scene-panel {
  width: 50%;
  height: 100%;
}

#properties-panel {
  width: 25%;
  height: 100%;
}

.assets-window {
  width: 100%;
  height: 30%;
  display: flex;
}

#folders-panel {
  width: 30%;
  height: 100%;
}

#files-panel {
  width: 70%;
  height: 100%;
}

.horizontal-resizer {
  width: 100%;
  height: 3px;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-resizer:hover {
  cursor: row-resize;
}

.vertical-resizer {
  width: 3px;
  height: 100%;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-resizer:hover {
  cursor: col-resize;
}

.paddle {
  background-color: #808080;
  width: 1px;
  height: 20px;
}

.paddle.horizontal {
  width: 20px;
  height: 1px;
}
